<div class="container">
  <app-header />
  <app-instruction-card />

  <div class="live-session-container">
    <button mat-raised-button (click)="!isCreatingLiveSession() && startLiveSession()">
      @if (isCreatingLiveSession()) {
      <div class="center-xy">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
      } @else {
      <div class="center-xy" style="gap: var(--mat-button-filled-icon-spacing, 8px)">
        <mat-icon>groups</mat-icon>
        Start Live Party
      </div>
      }
    </button>
  </div>

  <app-loot-form
    [partyLogInput]="partyLogInput()"
    (partyLogInputChange)="partyLogInput.set($event)"
    [players]="players()"
    (playersChange)="players.set($event)"
    (calculate)="onCalculate()"
  />

  @if (results(); as res) {
  <app-loot-report
    [result]="res"
    (shareLongUrl)="generateLongShareLink()"
    (shareShortUrl)="generateShortShareLink()"
    [isLoadingShortUrlGeneration]="isGeneratingTinyUrl()"
  />
  }
</div>
